# Gradle / build (no versionar)
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Local (SDK path por máquina)
local.properties

# Binarios y salidas
*.apk
*.ap_
*.aab
*.dex
*.class

# Keystores (nunca en Git)
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Logs / reportes
*.log
*.hprof
